@charset "UTF-8";
/**
 * 
 * @authors songxueyan (sxy9103@gmail.com)
 * @date    2019-11-05 15:48:01
 * @version $Id$
 */

body{
  padding:20px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #333);
}

.typo .post_title {
    margin-bottom: 0.1em;
    margin-top: 0;
    font-weight: 300;
}

/* 图文元数据: 时间/作者/公众号 */
.rich_media_meta_list {
    margin-bottom:18px;
    line-height:20px;
    font-size:0
}
.rich_media_meta_list em {
    font-style:normal
}

.rich_media_meta {
    display:inline-block;
    vertical-align:middle;
    margin-right:8px;
    margin-bottom:10px;
    font-size:16px
}

.rich_media_meta_text {
    color:var(--meta-color, #8c8c8c)
}

