{{ define "content" -}}


  <div class="typo">
      <h2 class="post_title">
          {{ .Title}}
      </h2>
      
      <div class="rich_media_meta_list">
          <em class="rich_media_meta rich_media_meta_text">{{ .Date.Format "2006-01-02" }}</em>
          <em class="rich_media_meta rich_media_meta_text">{{ .Site.Params.author }}</em>
          <a class="rich_media_meta" href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>
      </div>
      {{ .Content }}

      <div id="vcomments"></div>
  </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/valine@1/dist/Valine.min.js"></script>
    
    <script>
      new Valine({
          el: '#vcomments',
          appId: 'GOpJE0RYEAk1LV2p6Nt5VWdJ-gzGzoHsz',
          appKey: 'Y6wdl2wwJ1N9PhY6H8t13Iha'
      })
   </script>

{{- end }}