

  <div style="background-color:var(--card-bg, #fafafa)">
    <div class="header">
      <a href="{{ "" | relLangURL }}">
        <div class="avatar">
          <img src="{{ "img/avatar.jpg" | relURL }}" alt="{{ .Site.Params.Author }}" />
        </div>
      </a>
      <div class="desc">
          <div class="name">
            <a href="{{ "" | relLangURL }}" >
              <span>{{ .Site.Params.Author }}</span>
            </a>
          </div>
          <div>
              <span>{{ .Site.Params.Subtitle }}</span>
          </div>
          <div class="social">
            {{ with .Site.Params.wechat }}<a href="{{ . }}" aria-label="WeChat"><span class="iconfont icon-weixingongzhonghao"></span></a>{{ end }}
            {{ with .Site.Params.zhihu }}<a href="{{ . }}" aria-label="Zhihu"><span class="iconfont icon-zhihu"></span></a>{{ end }}
            {{ with .Site.Params.github }}<a href="{{ . }}" aria-label="GitHub"><span class="iconfont icon-github"></span></a>{{ end }}
          </div>
      </div>
    </div>


     <div class="tab-box">
        <div class="fieed-box">
          {{ $page := . }}
          {{ range .Site.Menus.main }}
              <a href="{{ .URL }}" title="{{ .Title }}" class="cur">
                {{ .Name }}
                {{ if and ($page.IsHome) ( eq .Weight 1 ) }}
                  <span></span>
                {{ else if in $page.Permalink .URL }}
                  <span></span>
                {{ end }}
              </a>
          {{ end }}
              
        </div>
      </div>

  </div>