{{ define "content" }}   

<div class="post-warp archive">
    {{ with $.Site.GetPage "taxonomy" (printf "%s" .Site.Params.home_path ) }}

        {{ range .Paginator.Pages }}
        <article class="archive-item">
            <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
            <span class="archive-item-date">
                {{ .Date.Format "2006-02-02" }}
            </span>
        </article>
        {{ end }} 
        {{ partial "paginator.html" . }}
    {{ end }}

   
</div>
{{ end }}